.half-width {
    margin-top: 100px;
    width: 40%;
    float: left;
    margin-left: 5%;
    padding-left: 2%;
}

body {
    margin: 0;
    font-family: 'Poppins', sans-serif;
}

span {
    color: #FBA24F;
}

h1 {
    font-size: 60px;
    color: #575757;

}

.button {

    padding: 15px 35px;
    border-radius: 35px;
    text-decoration: none;
    color: white;
    background: linear-gradient(45deg, #FBA24F, #FF1E1E);
}

p {
    line-height: 1.6;
    color: #828282;

}

.top-header {
    height: 850px;
}

.food-info {
    margin-top: 200px;
    margin-left: 100px;
}

.about {
    height: 800px;
    border: 1px solid red;
    background-repeat: no-repeat;
    background-size: 100%;
    background-image: url('/images/7.png');
}

.about img {
    width: 458px;
    height: 670px;
    top: 64px;
}

.about-img {
    margin-left: 150px;
    margin-top: 100px;
    width: 40%;
    float: left;
}

.about-me {
    margin-right: 50px;
    margin-top: 150px;
    width: 40%;
    float: left;
}